:root {
  --paragraph-text-color: #757575;
  --title-text-color: #212121;
  --hove-text-color: #2196f3;
  --main-cover_color: #ffffff;
  --contact-text_color: #757575;
  --contact-footer_color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--title-text-color);
  background-color: var(--main-cover_color);
  font-family: 'roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
img {
  display: block;

  max-width: 100%;
  height: auto;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* HEADER */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--hove-text-color);
  text-decoration: none;
}
.logo-color {
  color: #000000;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #ececec;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
  margin-left: 93px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-nav {
  color: var(--title-text-color);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-nav:hover,
.menu-nav:focus {
  color: var(--hove-text-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-item + .contacts-item {
  margin-left: 50px;
}
.contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--contact-text_color);
}
.contacts:hover,
.contacts:focus {
  color: var(--hove-text-color);
}
/* заказ услуг */
.service {
  background: #2f303a;
}
.service-controls {
  text-align: center;
}

.service-text {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--main-cover_color);
}
.service-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.service-btn:hover,
.service-btn:focus {
  background-color: var(--hove-text-color);
  color: var(--main-cover_color);
}
/* особености*/

.feature-list {
  display: flex;
}

.feature-item + .feature-item {
  margin-left: 30px;
}

.feature-item {
  width: 270px;
}
.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.feature-text {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}
/* Чем мы занимаемся */

.specifcation-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.specifcation-list {
  display: flex;
  justify-content: center;
}
.specifcation-item + .specifcation-item {
  margin-left: 30px;
}
/* наша команда */

.team-name-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.taam-list {
  display: flex;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item + .team-item {
  margin-left: 30px;
}
.team-member {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}
/* Портфолио */

/* Кнопки */
.portfolio-list {
  display: flex;
  justify-content: center;
}
.portolio-item + .portolio-item {
  margin-left: 8px;
  margin-bottom: 50px;
}
.portfolio-btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--hove-text-color);
  color: var(--main-cover_color);
}

/* галерея портфлио */
.portfollio-name-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--paragraph-text-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery-list {
  width: 370px;
  border: 1px solid #eeeeee;
}
.gallery-list + .gallery-list {
  margin-left: 30px;
  margin-bottom: 30px;
}

/* Footer */

.address {
  font-style: inherit;
}
.address-list {
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.logo-color-footer {
  color: #ffffff;
}
.location {
  display: block;
  margin-top: 20px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-footer_color);
  text-decoration: none;
}
.location:hover,
.location:focus {
  color: var(--main-cover_color);
}

.contacts-footer {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-footer_color);
  text-decoration: none;
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--main-cover_color);
}
